.background-image {
    background-image: url(../image/schema_bus.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    padding: 40px;
}

h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.main-description-text {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px 2px white;
}
  
.bg-navbar-primary {
    background-color: #0a5baf;
}
  
.main-link-button {
    border-color: #0a5baf;
    color: #0a95db;
}
  
.main-link-button:hover {
    background-color: #0a5baf;
    color: #f9f9f9;
}
  
.custom-card {
    background-color: #0d92cc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    width: 27vw;
    height: 27vw;
}
  
.custom-card-img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
  
.custom-card-body {
    padding: 20px;
}
  
.custom-card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;
    font-weight: bold;
    color: white;
}
  
.custom-card:hover {
    transform: translateY(-8px);
}
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
  
.route-card {
    display: flex;
  
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 2% 12%;
}
  
.route-card-image {
    max-width: 80%;
    
}

.route-card-description {
    max-width: 600px;
    margin: 0 auto;
}

.route-card-description p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.route-detail-card {
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.route-card-image img {
    max-width: 100%;
    height: auto;
}

.route-card-description {
    flex: 2;
    padding: 20px;
}
  
.route-card-description h2 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.route-card-description p {
    font-size: 16px;
}

.route-card-description a {
    display: inline-block;
    margin-top: 20px;
}

.bg-cards {
    background-color: #e8eef9;
}

.background-image-under {
    background-image: url(../image/schema_bus.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    padding: 120px;
}

footer {
    margin-top: auto;
    background-color: #0a5baf;
    color: white;
    padding: 10px;
}

.contact-button {
    border-color: #cae4ff;
    color: #cae4ff;
    padding: 5px 12px;
    font-size: 17px;
}

.contact-button:hover {
    background-color: #cae4ff;
    color: #0a5baf;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
  
.main-page-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

.main-page-form input[type="text"] {
    flex: 1;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
    border: none;
    padding: 12px;
    border-radius: 8px;
}

.main-page-form button {
    background-color: #1571d3;
    color: #f6f6f6;
    border: #0a5baf;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 18px;
    cursor: pointer;
    
}

.main-page-form button:hover {
    background-color:#9cc3ed;
    color: #1571d3;
    transform: translateY(-1.8px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
  
.btn-back-to-routes {
    background-color: #1571d3;
    color: #ffffff;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-decoration: none;
    border-radius: 12px;
}
  
.btn-back-to-routes:hover {
    background-color:#9cc3ed;
    color: #1571d3;
}
  
.card-href {
    text-decoration: none;
}
  
.btns-log {
    color: #ffffff;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-decoration: none;
    font-weight : inherit;
    margin-right: 10px;
}
  
.btns-log:hover {
    background-color:#ffffff;
    border-radius: 13px;
    color: #1571d3;
    transform: translateY(-1.5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 17px;
    text-decoration: none;
    font-size: 16px;
    cursor: default;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.delete-button:hover {
    opacity: 1;
}
